* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 80px;
  background-color: blue;
}

.container {
  display: grid;
  grid-template-columns: 20% auto 20%;
  height: calc(100vh - 80px);
  background-color: #f1f4f9;
}

.left {
  background-color: rosybrown;
}

.middle {
  background-color: aquamarine;
}

.right {
  background-color: brown;
}
